@import-normalize ;

@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  &::before, &::after {
    box-sizing: border-box;
  }
}

li, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-family: $font-hei;
  font-size: 16px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
  color: #333;
}

button {
  font-family: inherit;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
